.div_navbarr{
    background:goldenrod;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 90%;
}
    
    
.logo_immo{
    width:10%;
}


button{
    text-decoration: none;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 18vh;
    font-size: 2vh;
    margin-top: 9vh;
    list-style-type:none;
}

button:hover{
    transform: scale(1.5);
    transition: transform 0.5s ease-in-out;
}

.icone_acceuil{
    width: 5vh;
    position: absolute;
    margin-left: 10%;
    margin-top: 2vh;
}

 #modif_icone_acceuil{
    margin-left: 19vh;
}

#icone_contact{
    margin-left: 20vh;
} 



/* Styles pour le menu burger */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

/* Media query pour version mobile */
@media screen and (max-width: 426px) {

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: white;
        width: 18vh;
        border-radius: 10px;
        margin-right: 48vh;
        margin-top: -7vh;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    .burger {
        display: flex;
    }

    .icone_acceuil,
    button {
        margin-left: 0%;
        width: 4vh;
    }

    .logo_immo{
    width: 25%;
        margin-left: 18vh; 
        position: relative;
        top:0;
        left:0;
        width: 20vh;
    }

    .navbar {
        background-color: white;
    }

    
}


    



